[credential "https://github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential
[user]
    email = 18gatenmaker6@gmail.com
    name = Tom van Dijk
    signingkey = 7A984C8207ADBA51
[init]
    defaultBranch = main
[advice]
    detachedHead = false
[alias]
    cl = clone
    ch = checkout
    co = commit
    pu = push
    pul = pull
    a = add
    r = rm
    res = restore
    root = rev-parse --show-toplevel
[commit]
    gpgsign = true
    template = ~/.gitmessage
[sendemail]
    smtpserver = smtp-mail.outlook.com
    smtpuser = 129102@dr.nassaucollege.nl
    smtpencryption = tls
    smtpserverport = 587
[diff]
	tool = nvimdiff
[format]
	pretty = fuller
[rebase]
	autosquash = true

# Added by git-delta
; [core]
;     pager = delta
; 	excludesFile = ~/.gitignore
;
; [interactive]
;     diffFilter = delta --color-only
;
; [delta]
;     navigate = true  # use n and N to move between diff sections

[merge]
    conflictstyle = diff3
	tool = nvimdiff

[diff]
    colorMoved = default
[pull]
	rebase = true
[gpg]
	program = /usr/bin/gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[diff "sentences"]
	textconv = breaksentences
[color]
	ui = auto
