[submodule "awesome/.config/awesome/vicious"]
	path = awesome/.config/awesome/vicious
	url = https://github.com/vicious-widgets/vicious.git
[submodule "awesome/.config/awesome/themes/ayu"]
	path = awesome/.config/awesome/themes/ayu
	url = https://github.com/MArpogaus/awesome-ayu.git
[submodule "xplr/.config/xplr/plugins/fzf"]
	path = xplr/.config/xplr/plugins/fzf
	url = https://github.com/sayanarijit/fzf.xplr.git
[submodule "xplr/.config/xplr/plugins/xargs"]
	path = xplr/.config/xplr/plugins/xargs
	url = https://github.com/sayanarijit/xargs.xplr.git
[submodule "p10k/zsh-theme-powerlevel10k"]
	path = p10k/zsh-theme-powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "xmonad/.xmonad"]
	path = xmonad/.xmonad
	url = https://github.com/dtomvan/.xmonad
