discord_arch_electron/*.zst
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/.cache
emacs/.emacs.d/elpa
emacs/.emacs.d/eshell
emacs/.emacs.d/ido.last
emacs/.emacs.d/.lsp-session-v1
emacs/.emacs.d/.lsp-session-v1
emacs/.emacs.d/.mc-lists.el
emacs/.emacs.d/places
emacs/.emacs.d/recentf
emacs/.emacs.d/smex-items
emacs/.emacs.d/straight
emacs/.emacs.d/transient
emacs/.emacs.d/undo
emacs/.emacs.d/var/prescient-save.el
gtk/.config/gtk-3.0/bookmarks
**/*.o
st/config.h
st/st
bins/.local/bin/sheldon
xwinwrap/xwinwrap
**/*.log
ncmpcpp/.config/ncmpcpp/patterns.list
discord/.config/BetterDiscord/plugins/EditUsers.config.json
neovim/.config/nvim/plugin/packer_compiled.lua
# managed by home-manager
neovim/.config/nvim/init.vim
mpv/.config/mpv/watch_later
mpd/.config/mpd/database
visidata/.visidata/__pycache__
visidata/.visidata/httpcache.sqlite
neovim/.config/nvim/parsers/*/parser.so
neovim/.config/nvim/parsers/*/src
neovim/.config/nvim/parsers/*/bindings
neovim/.config/nvim/parsers/*/package.json
neovim/.config/nvim/parsers/*/Cargo.toml
neovim/.config/nvim/parsers/*/binding.gyp
# gets gpg'd
rdp-connect.sh
