[submodule "awesome/.config/awesome/vicious"]
	path = awesome/.config/awesome/vicious
	url = https://github.com/vicious-widgets/vicious.git
[submodule "awesome/.config/awesome/themes/ayu"]
	path = awesome/.config/awesome/themes/ayu
	url = https://github.com/MArpogaus/awesome-ayu.git
[submodule "xplr/.config/xplr/plugins/fzf"]
	path = xplr/.config/xplr/plugins/fzf
	url = https://github.com/sayanarijit/fzf.xplr.git
[submodule "p10k/zsh-theme-powerlevel10k"]
	path = p10k/zsh-theme-powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "xmonad/.xmonad"]
	path = xmonad/.xmonad
	url = https://github.com/dtomvan/.xmonad
[submodule "xplr/.config/xplr/plugins/command-mode"]
	path = xplr/.config/xplr/plugins/command-mode
	url = https://github.com/sayanarijit/command-mode.xplr.git
[submodule "xplr/.config/xplr/plugins/zoxide"]
	path = xplr/.config/xplr/plugins/zoxide
	url = https://github.com/sayanarijit/zoxide.xplr
[submodule "xplr/.config/xplr/plugins/type-to-nav"]
	path = xplr/.config/xplr/plugins/type-to-nav
	url = https://github.com/prncss-xyz/type-to-nav.xplr
[submodule "xplr/.config/xplr/plugins/completion"]
	path = xplr/.config/xplr/plugins/completion
	url = https://github.com/sayanarijit/completion.xplr
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/tmux"]
	path = tmux/.tmux/plugins/tmux
	url = https://github.com/dracula/tmux
[submodule "xplr/.config/xplr/plugins/dragon"]
	path = xplr/.config/xplr/plugins/dragon
	url = https://github.com/sayanarijit/dragon.xplr
[submodule "xplr/.config/xplr/plugins/map"]
	path = xplr/.config/xplr/plugins/map
	url = https://github.com/sayanarijit/map.xplr
[submodule "xplr/.config/xplr/plugins/term"]
	path = xplr/.config/xplr/plugins/term
	url = https://github.com/igorepst/term.xplr
[submodule "xplr/.config/xplr/plugins/xclip"]
	path = xplr/.config/xplr/plugins/xclip
	url = https://github.com/sayanarijit/xclip.xplr
[submodule "xplr/.config/xplr/plugins/context-switch"]
	path = xplr/.config/xplr/plugins/context-switch
	url = https://github.com/igorepst/context-switch.xplr
[submodule "xplr/.config/xplr/plugins/icons"]
	path = xplr/.config/xplr/plugins/icons
	url = https://github.com/dtomvan/icons.xplr
[submodule "xplr/.config/xplr/icons-prncss-xyz"]
	path = xplr/.config/xplr/icons-prncss-xyz
	url = https://github.com/prncss-xyz/icons.xplr.git
[submodule "xplr/.config/xplr/plugins/icons-prncss-xyz"]
	path = xplr/.config/xplr/plugins/icons-prncss-xyz
	url = https://github.com/prncss-xyz/icons.xplr.git
