[submodule "awesome/vicious"]
	path = awesome/vicious
	url = https://github.com/vicious-widgets/vicious.git
[submodule "awesome/awesome-copycats"]
	path = awesome/awesome-copycats
	url = https://github.com/lcpz/awesome-copycats.git
[submodule "awesome/themes/ayu"]
	path = awesome/themes/ayu
	url = https://github.com/MArpogaus/awesome-ayu.git
