gtk/.config/gtk-3.0/bookmarks
**/*.o
st/st
st/config.h
emacs/.emacs.d/straight
emacs/.emacs.d/elpa
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/places
emacs/.emacs.d/recentf
emacs/.emacs.d/smex-items
emacs/.emacs.d/.lsp-session-v1
emacs/.emacs.d/.lsp-session-v1 
emacs/.emacs.d/.mc-lists.el 
emacs/.emacs.d/ido.last 
emacs/.emacs.d/transient
emacs/.emacs.d/undo
emacs/.emacs.d/.cache
emacs/.emacs.d/eshell
